ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

body {
    margin: 0px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.logo {
    height: 50px;
=======
=======
.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    /*borde redondo*/
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    /*aumenta tamaño */
}

>>>>>>> 6-crear-boton-login
.mainButton {
    background-color: #1bb77e;
    color: white;
    cursor: pointer;
    /* curso manito*/
    font-weight: bolder;
    /*negrita*/
    box-shadow: 2px 2px green;
    /*sombra*/
}

.mainButton:hover {
    box-shadow: 4px 4px green;
<<<<<<< HEAD
    transform: scale(1.1);
>>>>>>> 5-crear-boton-nuevo-post
=======
}

.secondaryButton {
    background-color: #66d8;
    color: white;
}

.secondaryButton:hover {
    box-shadow: 1px 1px blueviolet;
>>>>>>> 6-crear-boton-login
=======
.buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 1px;
    border-radius: 8px;
}

.buscar:focus-within {
    border: 1px blue;
}

.buscar>input {
    outline: none;
    border: 0px;
>>>>>>> 8-crear-cuadro-de-busqueda
}