ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

body {
    margin: 0px;
}

<<<<<<< HEAD
.logo {
    height: 50px;
=======
.mainButton {
    background-color: #1bb77e;
    color: white;
    cursor: pointer;
    /* curso manito*/
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    /*borde redondo*/
    font-weight: bolder;
    /*negrita*/
    box-shadow: 2px 2px green;
    /*sombra*/
}

.mainButton:hover {
    cursor: pointer;
    box-shadow: 4px 4px green;
    transform: scale(1.1);
>>>>>>> 5-crear-boton-nuevo-post
}